@using Entidades
@model Alimento
@{
    Layout = null;
}

    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>
        <form action="/Alimentos/Modificar" method="post">
            <input hidden name="id" value="@Model.Id" />

            <label>Nombre</label><br />
            <input name="Nombre" value="@Model.Nombre" /><br /><br />

            <label>Peso</label><br />
            <input name="Peso" value="@Model.Peso" /><br /><br />

            <button type="submit">Editar</button>
        </form>
    </div>
</body>
</html>
